<div class="container" style="margin-top: 0.8rem;">
      <div class="row">
            <div *ngIf="ehAlterar">
                  <div class="col-md-2">
                        <button mat-button color="warn" (click)="onExcluirClienteClick(this.cadastroService.entidade.codigo)">Excluir cliente</button>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-8">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>Nome</mat-label>
                              <input matInput [(ngModel)]="this.cadastroService.entidade.nome" placeholder="Informe o nome do cliente">
                        </mat-form-field>
                  </div>
            </div>
            <div class="col-md-4">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>CNPJ</mat-label>
                              <input matInput  [(ngModel)]="this.cadastroService.entidade.cnpj" placeholder="Informe o CNPJ">
                        </mat-form-field>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-4">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>CEP</mat-label>
                              <input 
                              [(ngModel)]="this.cadastroService.entidade.endereco['cep']"
                              required
                              matInput 
                              placeholder="Informe o CEP">
                        </mat-form-field>
                  </div>
            </div>
            <div class="col-md-6">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>Logradouro</mat-label>
                              <input 
                              [(ngModel)]="this.cadastroService.entidade.endereco['logradouro']"
                              required 
                              matInput 
                              placeholder="Informe o logradouro">
                        </mat-form-field>
                  </div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-4">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>Número</mat-label>
                              <input matInput required
                              [(ngModel)]="this.cadastroService.entidade.endereco['numero']"
                              type="number" 
                              placeholder="Informe o número">
                        </mat-form-field>
                  </div>
            </div>
            <div class="col-md-6">
                  <div>
                        <mat-form-field style="width: 100%;">
                              <mat-label>Complemento</mat-label>
                              <input required 
                              [(ngModel)]="this.cadastroService.entidade.endereco['complemento']"
                              matInput 
                              type="text" 
                              placeholder="Informe o complemento">
                        </mat-form-field>
                  </div>
            </div>
      </div>
      <div class="row" style="display: flex; justify-items: center;">
            <button class="btn btn-primary botoes"
            (click)="onSalvarClick(this.cadastroService.entidade)">
                  Salvar</button>
            
            <button class="btn btn-danger botoes" 
            (click)="onCancelarClick()">
                  Cancelar
            </button>
      </div>
</div>

<div *ngIf="mapsLoaded | async">
      <google-map></google-map>
</div>